// Os estilos para perguntas de correlação estão definidos no componente pai
// Ver: ../perguntas.scss
// Classes utilizadas: .correlacao-question, .correlacao-container, .coluna, .correlacao-item, .correlacao-mapping, .mapping-row-radio, .responder-btn, .justificativa
