<div class="estatisticas-container">
  <!-- Header com Estatísticas Gerais -->
  <div class="header">
    <button 
      mat-stroked-button 
      color="primary" 
      (click)="navigateHome()" 
      aria-label="Voltar para Home"
      class="back-button">
      <mat-icon>arrow_back</mat-icon>
      Voltar à Página Principal
    </button>

  </div>

  <!-- Tabs para Minhas Estatísticas e Estatísticas Gerais -->
  <mat-tab-group class="estatisticas-tabs">
    <mat-tab label="Minhas Estatísticas">
      <ng-template matTabContent>
        <app-minhas-estatisticas
          [estatisticasUsuario]="estatisticasUsuario"
          [isLoading]="isLoading"
          [isResetting]="isResetting"
          [materiasEstatisticas]="materiasEstatisticas"
          [isLoadingMaterias]="isLoadingMaterias"
          [questoesAcertadas]="questoesAcertadas"
          [questoesErradas]="questoesErradas"
          [isLoadingQuestoes]="isLoadingQuestoes"
          [filtroQuestoes]="filtroQuestoes"
          (resetarEstatisticas)="resetarEstatisticas()"
          (resetarEstatisticasMateria)="resetarEstatisticasMateria($event)"
          (carregarQuestoes)="carregarQuestoes($event)"
          (toggleMateria)="toggleMateria($event)">
        </app-minhas-estatisticas>
      </ng-template>
    </mat-tab>
    
    <mat-tab label="Estatísticas Gerais" *ngIf="isAdmin">
      <ng-template matTabContent>
        <app-estatisticas-gerais
          [rankingGeral]="rankingGeral"
          [estatisticasGeraisErros]="estatisticasGeraisErros"
          [isAdmin]="isAdmin">
        </app-estatisticas-gerais>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
