.vinganca-geografia-container {
  width: 100%;
  height: 100%;
  
  // Se você tiver um header ou navegação, ajuste a altura
  // height: calc(100vh - 64px);
  
  // O componente LivroIndividual já tem seus próprios estilos
  // Aqui você pode adicionar customizações específicas se necessário
}
